---
---
@import 'default.scss';
body {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #111;
	color: #eee;
	font-size: 100%;
	font-family: serif;
	a {
		color: inherit;
		&:visited {
			color: inherit;
		}
		&:hover {
			color: #b81919;
		}
	}
	header {
		margin: inherit;
		padding: inherit;
		&>h1 {
			margin: inherit;
			padding: inherit;
			display: inline-block;
			&>a {
				display: block;
				padding: 1em;
				text-decoration: none;
				&:visited {
				}
				&:hover {
				}
			}
		}
	}
	nav {
		margin: inherit;
		padding: inherit;
		&>ul {
			margin: inherit;
			padding: 0.5em 0;
			list-style-type: none;
			text-align: center;
			&>li {
				display: inline-block;
				border-width: 0;
				@include border_solid;
				&+li {
					border-width: 0 0 0 1px;
				}
				&>a {
					display: block;
					width: 100px;
					color: #ccf;
					&:visited {
					}
					&:hover {
					}
				}
			}
		}
	}
	main {
		margin: inherit;
		padding: inherit;
		position: inherit;
		&>article {
			margin: inherit;
			padding: 0.5em;
			position: inherit;
			&>h1 {
				margin: inherit;
				padding: inherit;
				position: inherit;
				border-width: 1px;
				@include border_solid;
			}
			&>section {
				margin: 0.5em 0;
				padding: 0;
				border-width: 1px;
				@include border_solid;
				&>h1 {
					margin: 0;
					padding: 0.5em;
					border-style: dotted;
					border-width: 0 0 1px 0;
					@include border_color;
				}
				&>ul,
				&>ol,
				&>dl,
				&>p {
					margin: 0;
					padding: 0.5em;
					list-style-type: none;
				}
				&>figure.highlight {
					margin: 0.5em;
					padding: 0.5em;
					@include border_solid;
					border-width: 1px;
					pre {
						margin: 0;
						padding: 0;
					}
					.lineno {
						color: #356545;
					}
					.k {
						color: #f4f450;
					}
					.n {}
					.p {
						font-weight: bold;
						color: #18b2b2;
					}
					.o {}
					.x {}
					.s {
						color: #dc48dc;
					}
					.c {
						color: #666;
					}
				}
			}
		}

	}
	footer {
		margin: inherit;
		padding: inherit;
		text-align: center;
		&>ul {
			list-style-type: none;
			&>li {
				display: inline-block;
				padding: 0 1em;
				@include border-solid;
				border-width: 0;
				&+li {
					border-width: 0 0 0 1px;
				}
			}
		}
	}
}
