<footer>
	<p>
		{% assign update_year = site.time | date: '%Y' %}
		&copy;
		{{ site.data.info.create_year }}
		{% if site.data.info.create_year != update_year  %}- {{ update_year }}{% endif %}
		{{ site.data.info.author }}
	</p>
	<ul>
	{% for link in site.data.info.links %}
		{% comment %}
			サイト内リンクの場合は site.url をつける
		{% endcomment %}
		{% if link.self %}
			<li><a href="{{site.url}}{{link.url}}" target="{{link.target}}">{{link.title}}</a></li>
		{% else %}
			<li><a href="{{link.url}}" target="{{link.target}}">{{link.title}}</a></li>
		{% endif %}
	{% endfor %}
	{% comment %}
		<li v-for="item in list">
			<a :href="item.url" target="_top" v-if="site_url_reg.test(item.url)">\(item.title)</a>
			<a :href="item.url" target="_blank"  v-else>\(item.title)</a>
		</li>
	</ul>
	{% endcomment %}
</footer>
