---
---
@import 'base.scss';
@import 'paginator.scss';
@import 'syntax_highlight';

@include base;
@include paginator;
@include syntax_highlight;

blockquote {
	padding: 0 0 0 0.5em;
	@include border-solid;
	border-width: 0 0 0 4px;
	&>p {
		margin: 0;
		padding: 0;
	}
}
code.highlighter-rouge {
	color: #ccc;
	padding: 0.1em 0.5em;
	border-radius: 0.2em/0.2em;
	background-color: #333;
}

.article {
	h2, h3, h4, h5, h6 {
		padding: 0.5em 0;
		border-style: dashed;
		border-width: 1px 0 0;
	}
	&>p:last-child {
		margin: 0;
		@include border-solid;
		border-width: 1px 0 0;
		text-align: right;
	}
}
