---
layout: blog
title: Blog
---
<article>
<h1>Blog</h1>
{% for post in paginator.posts %}
	<section class="blog_item">
	<a class="goto_blog" href="{{ site.url }}{{ post.url }}" target="_top">
	<h1>{{ post.title }}</h1>
	<p>{{ post.content | strip_html | truncate: 192 }}</p>
	<p>{{ post.date | date: "%Y/%m/%d" }}</p>
	</a>
	</section>
{% endfor %}

<section class="paginator">
<p>
{% if paginator.next_page %}
	<a href="{{ site.url }}/blog/page{{ paginator.next_page }}/">&lt;&lt; OLD</a>
{% endif %}
</p>

<p>{{ paginator.page }}/{{ paginator.total_pages }}</p>

<p>
{% if paginator.previous_page %}{% if paginator.previous_page == 1 %}
	<a href="{{ site.url }}/blog/">NEW &gt;&gt;</a>
{% else %}
	<a href="{{ site.url }}/blog/page{{ paginator.previous_page }}/">NEW &gt;&gt;</a>
{% endif %}{% endif %}
</p>
</section>

<section>
<h1>Categories</h1>
<ul>
{% for category in site.categories %}
{% assign category_name = category | first %}
	<li>{{ category_name }}
		<ul>
		{% for post in site.categories[category_name] %}
			<li><a href="{{ post.url }}" target="_top">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>
</section>
</article>
