body {
  all: initial;
}

header {
  all: initial;
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: 0fr;
  grid-template-areas: "nav logo";
  border-bottom: 1px solid black;
  padding: 0.5em;
  & > h1 {
    all: initial;
    grid-area: logo;
    display: inline-block;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #ccc;
    + nav {
      grid-area: nav;
      all: initial;
      display: block;
      & > ul {
        all: initial;
        display: flex;
        align-items: end;
        height: 100%;
        & > li {
          all: initial;
          display: inline-block;
          font-family: sans-serif;
          + li {
            margin-left: 1em;
          }
          & > a {
            all: initial;
            font-family: sans-serif;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

main {
  all: initial;
  display: block;
  margin: auto;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
}

footer {
  all: initial;
}

.current-page {
  color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
  all: initial;
  display: block;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #366;
}

h1, h2 {}

h3, h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 1em;
}

article {
  h2, h3, h4, h5, h6 {
    border-left: 0.5ex solid #366;
    padding: 0 0 0 0.5em;
  }
}

p {
  all: initial;
  display: block;
  font-family: sans-serif;
  margin-top: 1em;
}

li {
  display: list-item;
  font-family: sans-serif;
}

ul {
  li {
    &::marker {
      content: "- ";
      color: #666;
    }
  }
}

ol {
  li {
    &::marker {
      direction: ltr;
      color: #666;
    }
  }
}

code {
  all: initial;
  display: inline-block;;
  margin: 0 0.25em;
  padding: 0 0.25em;
  font-family: monospace;
  color: #336;
  background-color: #f9f9ff;
}
