@mixin base {
  html {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      “Segoe UI”,
      “Roboto”,
      “Oxygen”,
      “Ubuntu”,
      “Cantarell”,
      “Fira Sans”,
      “Droid Sans”,
      “Helvetica Neue”,
      sans-serif;
    color: darkblue;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .container {
    margin: 0 1em;
    max-width: 1024px;
  }
}
