@mixin classes {
  .blog-title {
    display: inline-block;
    margin: 0.5em;
    color: inherit;
    font-size: 2em;
    &:hover {
      text-decoration: none;
    }
  }
  .page-title {
    display: block;
    padding: 0.5em 1em;
    background-color: midnightblue;
    color: ghostwhite;
  }

  .article {
    padding: 0 1em;
    overflow: hidden;
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      margin: 2em 0 1em;
    }
    & p {
      line-height: 2em;
    }
    & a {
      color: crimson;
      &:hover {
        color: orangered;
        text-decoration: underline;
      }
    }
    & strong {
      color: mediumblue;
    }
    & img {
      max-width: 100%;
    }
  }
  .article-link {
    color: midnightblue;
    & > h2 {
      margin: 0;
      border-width: 0;
      text-decoration: underline;
    }
    & > p {
      margin: 0;
      color: steelblue;
    }
    &:hover {
      color: inherit;
      & > p {
        color: inherit;
      }
    }
  }

  .date {
    text-align: right;
  }

  code.highlighter-rouge {
    background-color: aliceblue;
    color: royalblue;
  }

  .paginator {
    display: flex;
    margin: 0 0 1em;
    padding: 0;
    & > .item {
      list-style: none;
      width: 0;
      flex-grow: 1;
      text-align: center;
      &.left {
        text-align: left;
      }
      &.right {
        text-align: right;
      }
    }
  }

  .footer-links {
    & > a {
      display: inline-block;
      padding: 0 0.5em;
      & + a {
        border-style: solid;
        border-width: 0 0 0 1px;
      }
    }
  }
}
