@mixin init {
	body, nav, main, header, footer,
	img, a {
		margin: 0;
		padding: 0;
		position: relative;
		box-sizing: border-box;
		max-width: 100%;
		background-color: #111;
		color: #eee;
		font-size: 100%;
		font-family: serif;
	}
	a {
		&:visited {
			color: inherit;
		}
		&:hover {
			color: #b81919;
		}
		&:active {
			color: #333;
		}
	}
}
