@mixin paginator {
	.paginator {
		display: flex;
		&>p {
			width: 0; /* これ大事 */
			flex-grow: 1;
			text-align: center;
		}
		&>p:first-child {
			text-align: left;
		}
		&>p:last-child {
			text-align: right;
		}
	}
}
