@mixin syntax-highlight {
  .highlight {
    margin: 1em;
    padding: 0.5em;
    border-style: solid;
    border-color: lightsteelblue;
    border-width: 1px;
    border-radius: 0.25em;
    overflow: auto;
    background-color: aliceblue;
    color: royalblue;
    & & {
      border-width: 0;
      margin: 0;
      padding: 0;
      overflow: visible;
    }
    & pre {
      margin: 0;
      padding: 0;
    }

    & .lineno,
    & .c {
      color: lightsteelblue;
    }
  /* TODO: create highlighter */
  }
}
