---
---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}ja{% endif %}">
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@a-skua">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.content | strip_html | truncate: 128 }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/img/blog-icon.png">
  <meta name="twitter:image:alt" content="think blog">
  <link rel="stylesheet" media="(max-width:1024px)" href="{{ site.url }}/assets/css/{{ layout.stylesheet }}-tablet.css">
  <link rel="stylesheet" media="(min-width:1024px)" href="{{ site.url }}/assets/css/{{ layout.stylesheet }}-laptop.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127256499-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-127256499-1');
  </script>
</head>
<body>
{% include header.html %}
{{ content }}
{% include footer.html %}
<script async src="{{ site.url }}/assets/js/{{ layout.javascript }}.js"></script>
</body>
</html>
