---
layout: base
stylesheet: post
javascript: default
---
<main>
  <div class="container">
    <article>
      <h1 class="page-title">{{ page.title }}</h1>

      <div class="article">
        {{ page.content }}
        <p class="date">{{ page.date | date: '%Y/%m/%d' }}</p>
      </div>

      <ul class="paginator">
        <li class="item left">
          {% if page.previous %}<a href="{{ site.url }}{{ page.previous.url }}">
            &lt;&lt; {{ page.previous.title }}
          </a>{% endif %}
        </li>
        <li class="item right">
          {% if page.next %}<a href="{{site.url }}{{ page.next.url }}">
            {{ page.next.title }} &gt;&gt;
          </a>{% endif %}
        </li>
      </ul>
    </article>
  </div>
</main>
