---
layout: base
stylesheet: default
javascript: default
---
<article>
<h1>{{ page.title }}</h1>
<section>
{{ page.content }}
</section>

<section>
<p><a href="https://twitter.com/intent/tweet?screen_name=19700101_000000&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-text="{{ site.url }}{{ page.url }}" data-related="" data-show-count="false">Tweet to @19700101_000000</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
</section>

<section>
{% if page.next %}
<p><a href="{{ site.url }}{{ page.next.url }}">&lt;&lt;{{ page.next.title }}</a></p>
{% endif %}
<p>{{ page.date | date: '%Y-%m-%d' }}</p>
{% if page.previous %}
<p><a href="{{ site.url }}{{ page.previous.url }}">{{ page.previous.title }}&gt;&gt;</a></p>
{% endif %}
</section>
</article>
