---
title: "-"
---
<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ site.title.toUpperCase() }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/syntax.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FQWQWSCP0T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FQWQWSCP0T');
    </script>
  </head>

  <body>
    <header>
      <h1>{{ site.title.toUpperCase() }}</h1>
      <nav>
        <ul>
          {% for content in nav.contents %}
            <li class="{{ "current-page" if url == content.url }}">
              {% if url == content.url %}
                {{ content.title }}
              {% else %}
                <a href="{{ content.url }}">{{ content.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>
    <footer>
    <p class="footer-info">
      <a href="{{ site.repository }}" target="_blank">Repository</a>
      | 🔥 <a href="{{ lume.url }}" target="_blank">{{ lume.name }}</a>
    </p>
    <p class="footer-info">
      &copy;
      {% set year = date.getFullYear() %}
      {{ site.create_year }}{% if site.create_year != year %}-{{ year }}{% endif %}
      {{ site.author }}
    </p>
    </footer>
  </body>
</html>
