---
layout: layouts/main.njk
---
<ul class="pages">
  {% for page in results %}
    <li>
      <a class="page-link" href="{{ page.url }}">
        <h2 class="title">
          {% if page.draft %}
            <span style="color: red;">!!Draft!!</span>
          {% endif %}
          {{ page.title }}
        </h2>
        <p class="description">{{ page.content.slice(0, 255) }}</p>
      </a>
      <p class="date">{{ page.date.toLocaleDateString() }}</p>
      <ul class="categories">
        {% for category in page.categories %}
          <li>{{ category }}</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

<ul class="paginate">
  <li>
    {% set previous = pagination.previous %}
    &lt;
    {% if previous %}
      <a href="{{ previous }}">Previous</a>
    {% endif %}
  </li>
  <li>{{ pagination.page }} of {{ pagination.totalPages }}</li>
  <li>
    {% set next = pagination.next %}
    {% if next %}
      <a href="{{ next }}">Next</a>
    {% endif %}
    &gt;
  </li>
</ul>
